{{outlet}}
{{#paper-form onSubmit=(action "login") as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-50">
      {{form.input label="email" value=email onChange=(action (mut email)) required=true}}
      {{form.input label="passowrd" type="password" value=password onChange=(action (mut password))}}
    </div>
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
