{{outlet}}

<div class="layout-row layout-wrap">
{{#each gameState as |cell index| }}
  <div class="flex-30 table-cell" {{action 'playerMoves' index}}> {{cell.value}} </div>
{{/each}}
</div>
{{message}}
